

@fontcloud: 'Oxygen', sans-serif;
@brand-info: #1cade4;

@twitter-color: #4099ff;
@twitter-border: #1885ff;
@facebook-color: #3B5999;
@facebook-border: #14306a;
@icon-font-path: "./fonts/";

@digitalocean: #2EB8E6;
@redhat: #B22400;
@zend: #8892BF;
@mongo: #006B00;
@pivotal: #01786e;
@serverdensity: #444;
@pusher: #3BA9BE;
@arduino: #00979D;
@ideato:#E45448;
@twilio: #E22228;
@atlassian: #59AFE1;
@shopify: #6ca94e;
@aruba: #EF612A;
@microsoft: #81bc06;
@etas: #1E529E;
@stack: #f48024;
@aws: #f48024;
@docker: #22b8e8;
@innomatic: #457C9F;
@elastic: #297b76;
@currencyfair:#f15925;
@revevol: @brand-danger;
